:root {
  --clr-primary: #e99401;
  --clr-black: #262626;
  --clr-white: #FFF;
  --font-primary: var(--ff-global), sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 2rem;
  font-family: var(--font-primary);
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

[class*="container"] {
  width: min(90%, 120rem);
  margin-inline: auto;
}

[class*="heading"] {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  color: var(--clr-primary);
  margin-bottom: 5rem;
}